@media only screen and (min-width: 993px){
    nav a.sidenav-trigger {
        display: block;
    }
    nav .brand-logo {
        margin-left: 18px 
    }
    
}

h4 {
    margin: 0;
    max-width: 80%;
}

p {
    font-size: 18px;
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.card .card-action {
    padding: 16px;
    margin-bottom: 0;
}

.card .card-action a {
    margin-top: 6px;
}

.sticky-action { 
    padding-bottom: 8px; 
    margin-top: 2rem; 
    margin-bottom: 2rem; 
    border-radius: 8px
}

.datepicker-controls .select-month input {
    width: 80px;
}

.flag { 
    float: right; margin: 5px 5px 0px 0px; 
    filter: drop-shadow(0 0 0.18rem rgb(131, 131, 131));
    max-width: 15%; 
  }

#slide-out.sidenav {
  background-color: #fff8e1;

}

#bookmarks-title {
    height: 64px;
}

.sidenav {
    width: 360px;
}
.sidenav li {
    font-size: x-large;
    text-align:center;
    line-height: 64px;
}
  
.sidenav li i {
    display: absolute;
    float: right;
    
}

a {
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

input[type=text]:not(.browser-default) {
    background-color: white;
    border: 1px solid #9e9e9e;
    border-radius: 6px;
    padding-left: 16px;
    margin: 0 0 8px 0;
    
}