@media only screen and (min-width: 993px){
    nav a.sidenav-trigger {
        display: block;
    }
    nav .brand-logo {
        margin-left: 18px 
    }
    
}

h4 {
    margin: 0;
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.datepicker-controls .select-month input {
    width: 80px;
}

.flag { 
    float: right; margin: -160px 20px 0px 0px; 
    filter: drop-shadow(0 0 0.18rem rgb(131, 131, 131));
    max-width: 15%; 
  }

#slide-out.sidenav {
  background-color: #fff8e1;
}

#bookmarks-title {
    height: 64px;
}
.sidenav li {
    font-size: x-large;
    text-align:center;
    line-height: 64px;
}
  
.sidenav li i {
    display: absolute;
    float: right;
    
}

  
.sticky-action { 
    padding-bottom: 16px; 
    margin-top: 2rem; 
    margin-bottom: 2rem; 
    border-radius: 8px
}

a {
    border-radius: 8px
}